body { /* recreating google keep scrollbar here, using their css */
  /* TODO - fix the hover selectors not working at all. Seems to be some style conflict below */
  ::-webkit-scrollbar {
    height: 10px;
    overflow: visible;
    width: 16px;
  }
  ::-webkit-scrollbar-corner {
    background: transparent; /*the corner where vertical and horizontal sliders meet apparently*/
  }
  ::-webkit-scrollbar-button {
    height: 0; /* the buttons on either end of the scrollbar track (if present) */
    width: 0;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    background-clip: padding-box; 
    border: solid transparent;
    border-width: 1px 1px 1px 6px;
    min-height: 28px;
    padding: 100px 0 0;
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1),
      inset 0 -1px 0 rgba(0, 0, 0, 0.07);
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);
  }*/
  ::-webkit-scrollbar-track {
    background-clip: padding-box;
    border: solid transparent;
    border-width: 0 0 0 4px;
  }
  ::-webkit-scrollbar-track:hover {
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1);
  }
}