.svg-wrapper-style {
    display:block;
    height: 25px;
    width: 25px;
    flex-shrink: 0;
    border-radius: 4px;
    padding: 0px;
    border: 1.5px solid transparent;
    background-color: var(--colour-neutral);

    &:hover {
        border: 1.5px solid var(--colour-contr);
        box-shadow: var(--hover-box-shadow);
    }
}

.svg-icon-style {
    height:100%;
    width:100%;
    color:var(--colour-contr);  
    
    g, path {
        stroke: currentColor;
    }
}

.btn-press{
    position:relative;
    height: 25px;
    width: 25px;
    flex-shrink: 0;
    border: 2px solid transparent;
    border-radius: 4px;
    padding: 0px;
    background-color: transparent;

    &:hover {
        border: 2px solid var(--colour-contr);
        box-shadow: var(--hover-box-shadow);
    }    
}

#btn-press-enter-svg {
    --colour-svg: var(--colour-contr);

    height:100%;
    width:100%;
    color:var(--colour-svg);

    g, path {
        stroke: currentColor;
    }
}
