/* This is for consistent styling of svg buttons and labels etc */

.svg-wrapper-style {
    display:block;
    height: 25px;
    width: 25px;
    flex-shrink: 0;
    border-radius: 4px;
    padding: 0px;
    border: 1.5px solid transparent;
    background-color: var(--colour-neutral);

    &:hover {
        border: 1.5px solid var(--colour-contr);
        box-shadow: var(--hover-box-shadow);
    }
}

.svg-wrapper-style > svg {
    height:100%;
    width:100%;
    color:var(--colour-contr);  
    
    g, path {
        stroke: currentColor;
    }
}
