.btn-press-enter{
    height: 25px;
    width:25px;
    border: 2px solid transparent;
    border-radius: 4px;
    padding:0px;
    background-color: transparent;

    &:hover {
        border: 2px solid var(--colour-contr);
        box-shadow: var(--hover-box-shadow);
    }    
}

#btn-press-enter-svg {
    --colour-svg: var(--colour-contr);

    height:100%;
    width:100%;
    color:var(--colour-svg);
}

#btn-press-enter-svg g, 
#btn-press-enter-svg path {stroke: currentColor;}