.showall {
	position:absolute;
	top:-13px;
	right:10px;
	cursor:pointer;
	color: var(--colour-contr);
	background-color:var(--colour-neutral);
	border: 2px solid var(--colour-compl-emph);
	border-radius: 6px;
	&:hover {
		color: var(--colour-compl-emph-contr);
		background-color: var(--colour-compl-emph-light);
	}
}

body:has(#and_filter:checked) .showall {border: 2px solid var(--colour-compl-alt-emph);
	&:hover {
		background-color:var(--colour-compl-alt-emph-light);
		color: var(--colour-compl-emph-contr);
	}
}