/* This is for consistent styling of svg buttons and labels etc */

.svg-wrapper-style {
    cursor: pointer;
    position:relative;
    display:inline-block;
    height: var(--btn-size);
    width: var(--btn-size);
    flex-shrink: 0;
    border-radius: 5px;
    padding: 0px;
    border: 2px solid transparent;
    color: var(--colour-contr);
    background-color: var(--colour-neutral);

    &:hover {
        border: 2px solid var(--colour-contr);
        box-shadow: var(--hover-box-shadow);
    }
}

.svg-wrapper-style:has(:focus-visible) {
    outline: 2px solid var(--colour-contr);
}

.svg-wrapper-style input{
    position:absolute;
    opacity:0;
    top:0px;
    left:0px;
}

.svg-wrapper-style > svg {
    position:relative;
    height:100%;
    width:100%;
    color:inherit;  
    
    g, path {
        stroke: currentColor;
    }
}


/* This is for consistent styling of normal buttons */

.btn-base-style {
    display:flex;
    align-items:center;
    cursor: pointer;
    padding-inline:8px;
    padding-block: 4px;
    gap:4px;
    background-color: var(--colour-neutral-alt);
    color:var(--colour-contr);
    border: 1.5px solid var(--colour-contr);
    border-radius: 5px;
    font-family: var(--fontfam-app-input);
    font-size:0.89375em; /* replicates unstyled UI of 13px where default size is 16px */

    &:focus-visible {
        outline: 2px solid var(--colour-contr);
    }
    &:hover{
        box-shadow: var(--hover-box-shadow);
    }
}