#contentsearch{
    opacity:0;
}

#content-search-label svg:nth-child(2) circle {
        fill: currentColor;
}
#content-search-label svg:nth-child(1) {
        padding-top:40%;
        height:auto;
}
body:has(#contentsearch:checked) #content-search-label svg:nth-child(1) {
    display:none;
}

body:has(#contentsearch:not(:checked)) #content-search-label svg:nth-child(2) {
    display:none;
}