#contentsearch{
    opacity:0;
}

#contentsearch-svg-open circle {
        fill: currentColor;
}
#contentsearch-svg-closed {
        padding-top:8px;
        height:auto;
}
body:has(#contentsearch:checked) #contentsearch-svg-closed {
    display:none;
}

body:has(#contentsearch:not(:checked)) #contentsearch-svg-open {
    display:none;
}

