:root {
    --colour-neutral: WhiteSmoke; /* bg */ /*white? #F6FFFC #80AAFF*/
    --colour-neutral-alt: white; /* card bg */
    --colour-contr: DarkSlateGray; /* text */
    --colour-contr-emph: RoyalBlue;  /* h1 */

    --colour-compl: PaleTurquoise;  /* btn */
    --colour-compl-emph-light: LightYellow;  /* btn hover */
    --colour-compl-emph: #FFD480; /* btn select */ /*gold*/
    --colour-compl-contr: DarkSlateGray; /* btn text */
    --colour-compl-emph-contr: DarkSlateGray; /* btn select text */

    --colour-compl-alt: PaleTurquoise; /* tag */
    --colour-compl-alt-emph-light: MistyRose; /* tag hover */
    --colour-compl-alt-emph: #FF80AA; /* tag select */ /*Pink*/
    --colour-compl-alt-contr: DarkSlateGray; /* tag text */ /*MediumVioletRed*/
    --colour-compl-alt-emph-contr: DarkSlateGray; /* tag select text */
    }

:root:has(input[type="radio"]#funcheck:checked) {
    --colour-neutral: DarkSlateGray; /* bg */
    --colour-neutral-alt: #0b6f6f; /* card bg */
    --colour-contr: aquamarine; /* text */
    --colour-contr-emph: hotpink;  /* h1 */

    --colour-compl: DarkCyan;  /* btn */
    --colour-compl-emph-light: LightYellow;  /* btn hover */
    --colour-compl-emph: #FFD480; /* btn select */ /* GOLD */
    --colour-compl-contr: aquamarine; /* btn text */
    --colour-compl-emph-contr: DarkSlateGray; /* btn select text */

    --colour-compl-alt: DarkCyan; /* tag */
    --colour-compl-alt-emph-light: MistyRose; /* tag hover */
    --colour-compl-alt-emph: #FF80AA; /* tag select */ /* PINK */
    --colour-compl-alt-contr: aquamarine; /* tag text */
    --colour-compl-alt-emph-contr: DarkSlateGray; /* tag select text */
}

.color-dynamic {
    --color-mono-contr: hsl(from attr(data-color type(<color>)) 0 0 calc(round(100 - l, 100)));
    background-color: attr(data-color type(<color>), var(--colour-neutral-alt)); 
    color: var(--color-mono-contr); /* if null fall back will be color set elsewhere */
}

.color-dynamic-transparent-fallback {
    --color-mono-contr: hsl(from attr(data-color type(<color>)) 0 0 calc(round(100 - l, 100)));
    background-color: attr(data-color type(<color>));
    color: var(--color-mono-contr); /* if null fall back no color will be set ie transparent */
}