.file-display-controls {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin-bottom: 20px;
    font: 1.1em var(--fs-app);
}

.file-display-controls-top {
    display: flex;
    align-items: center;
    gap: 10px;
}

.file-display-controls-panel {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;

    &:focus-within {
        height:auto;
    }
}

.file-display-controls-panel.open {
    height: auto;
}

.file-display-controls-panel-inner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 10px;
}

.sort-controls, .view-controls {
    display: flex;
    align-items: center;
    gap: 2px;
    padding:4px;
}

#view-select, #sort-select, .tag-taxonomy-btn {
    border:none;
    cursor:pointer;
    min-width: 80px;
    font: 1em var(--fs-app);
    color: var(--colour-contr);
    background-color: var(--colour-neutral-alt);
    &:hover {
        background-color: revert;
    }
}

#view-select {
    background-color: transparent;
}

.tag-taxonomy-btn {
    padding-block: 4px;
    border-radius: 8px;
}

#sort-select {
    min-width: 140px;
}

#sort-direction {
    display:none;
}

.sort-direction-label {
    position:relative;
    cursor:pointer;
    width:20px;
    height:20px;
    rotate:90deg;
    transition:0.2s rotate;
    border:1.5px solid transparent;
    border-radius:50%;

    &::after {
        content: "➜"; /* U+0279C */
        position:absolute;
        color: var(--colour-contr);
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        padding-bottom:2px;
    }

    &:hover {
        border:1.5px solid var(--colour-compl-contr);
    }
}

.sort-direction-label:has(#sort-direction:checked) {
    rotate:-90deg;
}
