.filter-options-position {
	position:absolute;
	top:0%;
	transform: translateY(-50%);
}


.filters-options-style {
	border: 2px solid var(--colour-highlight) !important;
}




#clear-filters-btn {
	right:10px;
	position:absolute;
	&:hover {
		border: 2px solid var(--colour-contr-warning) !important;
	}
}


#search-highlights-toggle-label {
    right:calc(10px + var(--btn-size) * 1.5);
	position:absolute;
}

#search-highlights-toggle-label svg g {
	color:color-mix(in srgb,  var(--colour-contr) 70%, transparent 30%);
	fill: var(--colour-highlight);
}

body:has(#toggle-search-highlights:not(:checked)) #search-highlights-toggle-label svg g {
	color:color-mix(in srgb,  var(--colour-contr) 30%, transparent 70%);
	fill:none;
}
