#filter-box{
    border: 2px solid var(--colour-highlight);
    border-radius: 6px;
    padding: 16px 10px 10px 10px;
    position: relative;
    max-width: 600px;
    /* min-height: 46px; not needed if not visible with no filters */
    height:fit-content;
    margin-block:20px;
    margin-inline: auto;
    margin-bottom:40px;

    &:has(#clear-filters-btn:hover){
        border: 2px solid var(--colour-contr-warning);
    }
 
    &:has(#filter-output:empty) {
        display: none;
    }

}

#filter-output {
    display:flex;
    flex-wrap: wrap;
    gap: 4px;
}

.filter-pill {
    font: 0.9em var(--fs-app);
    margin: 2px;

    &::before {
        content: "= ";
        font-size: 1.1em;
        padding:0px;
        margin:0px;
    }
}

.filter-pill[data-negate="true"] {
    box-shadow:
        3px 3px 0 0 var(--colour-contr-warning);

    &::before {
        color: var(--colour-contr-warning);
        content: "≠ ";
    }
}

