#filter-box{
    border: 1px solid var(--colour-compl-emph);
    border-radius: 6px;
    padding: 16px 10px 10px 10px;
    position: relative;
    min-width: 250px;
    min-height: 46px;
    margin-top:20px;
    margin-left:10px;

        &:has(.showall:hover){
        border: 1px solid var(--colour-contr-warning);
    }
}

.filter-pill {
    font: 0.9em monospace;
    margin: 2px;
}

body:has(#and_filter:checked) #filter-box{
    border: 1px solid var(--colour-compl-alt-emph);

    &:has(.showall:hover){
        border: 1px solid var(--colour-contr-warning);
    }

}

#search-and-filters {
    flex-grow: 10;
    max-width: 800px;
    width: 100%;
}
