/* most of the complex css here is to animate the filter box open and closed which is a bit tricky with absolute positioning on child elements and from display none */

#filter-box-container:has(:not(#filter-output:empty)){
    height:auto;
    overflow:hidden;
    /* border:2px solid greenyellow; */
    transition: height 0.5s ease 0.7s; /* delay transition on the way in to give view transitions on cards time to finish */
}

#filter-box-container:has(#filter-output:empty) {
    height:0px;
    overflow:hidden;
    /* border:2px solid red; */
    transition: height 0.5s ease 0.6s; /* delay transition on the way out to give time for filter-pills to leave */

}


#filter-box:has(#filter-output:empty) {
    display:none;
    transition: display 0.5s allow-discrete;
    transition-delay: 0.5s;
}


#filter-box{
    height: auto;
    border: 2px solid var(--colour-highlight);
    border-radius: 6px;
    position: relative;
    max-width: 600px;
    margin-block:20px;
    margin-inline: auto;
    margin-bottom:40px;
    transition: height 0.5s ease;

    &:has(#clear-filters-btn:hover){
        border: 2px solid var(--colour-contr-warning);
    }

}

#filter-output {
    --pad-top: calc(var(--btn-size) / 2 + 6px);
    --pad-bot: 8px;
    display:flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    gap: 6px;
    padding-inline: 10px;
    padding-top: var(--pad-top);
    padding-bottom: var(--pad-bot);
    min-height: calc(var(--pad-top) + 24px + var(--pad-bot)); /* careful with 24px see .filter-pill height!*/
    overflow: hidden;
}

.filter-pill {
    height: 24px; /* careful here just setting to align with #filter-output min-height, will break if font size changes!*/
    font: 0.8125em var(--fs-app);
    border: 2px solid transparent;

    &::before {
        content: "= ";
        font-size: 1.1em;
        padding:0px;
        margin:0px;
    }
    
    &:has(.btn-delete-filter:hover) {
        border: 2px solid var(--colour-contr-warning);
    }
}

#filter-box:has(#clear-filters-btn:hover) .filter-pill {
        border: 2px solid var(--colour-contr-warning);
}


.filter-pill[data-negate="true"] {
    box-shadow:
        3px 3px 0 0 var(--colour-contr-warning);

    &::before {
        color: var(--colour-contr-warning);
        content: "≠ ";
    }
}

