.filter-options-position {
	position:absolute;
	top:0%;
	transform: translateY(-50%);
}


.filters-options-style {
	cursor:pointer;
	font: 1em monospace;
	color: var(--colour-contr);
	background-color:var(--colour-neutral);
	border: 2px solid var(--colour-compl-emph) !important;
	border-radius: 6px;	

	&:hover {
		color: var(--colour-compl-emph-contr);
		background-color: var(--colour-compl-emph-light);
		border: 2px solid var(--colour-contr-warning);
	}	
}




#clear-filters-btn {
	right:10px;
	position:absolute;
}


#search-highlights-toggle-label {
    right:calc(10px + var(--btn-size) * 1.5);
	position:absolute;
}

#search-highlights-toggle-label svg g {
	color:color-mix(in srgb,  var(--colour-contr) 70%, transparent 30%);
	fill: var(--colour-compl-emph);
}
body:has(#and_filter:checked) #search-highlights-toggle-label svg g {
	fill: var(--colour-compl-alt-emph);
}
body:has(#and_filter:checked) .filters-options-style {
	border: 2px solid var(--colour-compl-alt-emph) !important;
}

body:has(#toggle-search-highlights:not(:checked)) #search-highlights-toggle-label svg g {
	color:color-mix(in srgb,  var(--colour-contr) 30%, transparent 70%);
	fill:none;
}
