#filter-box{
    border: 1px solid var(--colour-compl-emph);
    border-radius: 6px;
    padding: 16px 10px 10px 10px;
    position: relative;
    min-width: 250px;
    min-height: 20px;
    margin-top:20px;
    margin-left:10px;

        &:has(.showall:hover){
        border: 1px solid var(--colour-contr-warning);
    }
}

body:has(#and_filter:checked) #filter-box{
    border: 1px solid var(--colour-compl-alt-emph);

    &:has(.showall:hover){
        border: 1px solid var(--colour-contr-warning);
    }

}

#search-and-filters {
    flex-grow: 10;
    max-width: 1000px;
}

.btn-delete-filter {
    border: none;
    background-color: transparent;
    font-size:0.5 em;
    padding:0px 2px 0px 4px;
    margin:0px;
    &:hover{
        color:var(--colour-contr-warning);
    }
}