.frontmatter-properties {
    margin-block: 30px;
    padding: 10px;
    background-color: var(--colour-neutral-alt);
    border-radius: 6px;
    font-size: calc(0.9rem * var(--fsize-filetext-multiple));
}


.frontmatter-properties-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 12px;
    row-gap: 4px;
    font-family: var(--fontfam-html);
}

.frontmatter-prop-name {
    white-space: nowrap;
    color: var(--colour-contr);
    opacity: 0.7;
}

.frontmatter-prop-value {
    overflow-wrap: anywhere;
}
