body:has(#toggle-search-highlights:checked) ::highlight(match) {
    background-color: color-mix(in srgb, var(--colour-highlight) var(--colour-highlight-mix-pct), transparent);
    color: inherit;
    border-radius: 4px;
    /* padding-block:1px; does this triggers layout reflow when highlighting applied? I say no by AI says yes. Don't really need it anyway */
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-underline-offset: 4px;
    text-decoration-color: var(--colour-highlight);
    text-decoration-thickness: 3px;
}

::highlight(diff-old) {
    background-color: color-mix(in srgb, var(--colour-compl-alt-emph) 50%, transparent); /* TO ADD */
    color: inherit;
}
