mark {
/*    color: var(--colour-compl-contr);
    background-color: var(--colour-compl-emph); */
    background-color: color-mix(in srgb, var(--colour-compl-emph) 30%, transparent);
    color: inherit;
    border-radius: 4px;
    padding-block:1px;
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-underline-offset: 4px;
    text-decoration-color: var(--colour-compl-emph);
    text-decoration-thickness: 3px;
}

body:has(#and_filter:checked) mark {
	/*	background-color:var(--colour-compl-alt-emph);
		color: var(--colour-compl-emph-contr); */
	}
