#file-content-modal {
  /* Remove default centering and ensure it covers the viewport for correct positioning */
  position: fixed;
  border: none;
  margin: 0px;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  color: var(--colour-contr);
  background: transparent;
  --modal-footer-height: 50px;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.5s ease-in-out;
  @starting-style { opacity: 0 }
}

#moving-file-content-container {
  /* Mandatory CSS property */
/*  view-transition-name: moving-box-element;*/
  position: fixed;
  background-color: var(--colour-neutral-alt);
  border-radius: 10px;
/*  max-height: 95vh;*/
  pointer-events: auto;
  /* stuff below to blend in scroll bar*/
  border-top: solid 2px var(--colour-neutral-alt);
  border-right: solid 2px var(--colour-neutral-alt);
  border-radius: 8px;
  overflow: hidden;
  --modal-margin: 10px;
  background-color: var(--colour-neutral-alt); /* starting colour */
  left: 50%;
  transform: translateX(-50%);
  top: 20px;
  width: 550px;
  max-width:calc(100% - (2 * var(--modal-margin)));*/
/*  height: 95vh;*/
}

html {
  --file-content-transition-speed: 4;
}

::view-transition-group(moving-box-element) {
  animation-duration: calc(2s / var(--file-content-transition-speed));
  animation-timing-function: ease-in-out;
}

::view-transition-new(moving-box-element),
::view-transition-old(moving-box-element) {
  opacity: 1; /* allegedly needed for smooth transition but don't see it myself */
  transform: none; /* allegedly needed for smooth transition but don't see it myself */
  height: 100%; /* to make sure size doesn't jump */
  width: 100%;
/*  object-fit: fill;*/
  animation-duration: calc(
    0.7s / var(--file-content-transition-speed)
  ); /* makes content switch over more quickly if shorter than group duration */
}

/* by applying first to target element then to modal we can animate from one to the other  */
.moving-file-content-view {
  view-transition-name: moving-box-element;
}

#modal-content {
  overflow-y: scroll;
  height:calc(95vh - var(--modal-footer-height)); /* leave room for footer */
  padding: 0px 20px 0px 20px;
  margin-bottom: var(--modal-footer-height); /* leave room for footer */
}