/* "from" state */
dialog::backdrop {
  background: transparent;
}
.dialog-view {
  view-transition-name: dialog-backdrop;
}
/* "to" state */
.dialog-view::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}
/* to target backdrop, not sure why can't target any other way... works on both fade in and out! */
::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: calc(2s / var(--file-content-transition-speed));
  animation-timing-function: ease-in-out;
}

/* prevent document body scroll when dialog open */
body:has(dialog[open]) {
  overflow: hidden;
}

/* preserve space for scroll bar on main page to avoid layout shift */
html {
  scrollbar-gutter: stable;
}