#file-content-modal {
  /* Remove default centering and ensure it covers the viewport for correct positioning */
  position: fixed;
  border: none;
  margin: 0px;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  background: transparent;
  /* Clicks pass through the dialog container, but the backdrop still works */
  pointer-events: none;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

#moving-file-content {
  /* Mandatory CSS property */
  view-transition-name: moving-box-element;
  position: fixed;

  background-color: var(--colour-neutral-alt);
  border-radius: 10px;
  max-height: 95vh;
  overflow-y: auto;
  color: #5b21b6;
  pointer-events: auto;
  /* stuff below to blend in scroll bar*/
  padding: 0px 20px 0px 20px;
  border-top: solid 2px var(--colour-neutral-alt);
  border-right: solid 2px var(--colour-neutral-alt);
  border-radius: 8px;
}

html {
  --file-content-transition-speed: 4;
}

::view-transition-group(moving-box-element) {
  animation-duration: calc(2s / var(--file-content-transition-speed));
  animation-timing-function: ease-in-out;
}

::view-transition-new(moving-box-element),
::view-transition-old(moving-box-element) {
  opacity: 1; /* allegedly needed for smooth transition but don't see it myself */
  transform: none; /* allegedly needed for smooth transition but don't see it myself */
  height: 100%; /* to make sure size doesn't jump */
  width: 100%;
  object-fit: fill;
  animation-duration: calc(
    0.7s / var(--file-content-transition-speed)
  ); /* makes content switch over more quickly if shorter than group duration */
}

.moving-file-content-state-one {
  background-color: var(--colour-neutral-alt); /* starting colour */
  color: inherit;
  top: 4rem;
  left: 1rem;
  width: 80px;
  height: 150px;  
}

.moving-file-content-state-two {
  --modal-margin: 10px;
  background-color: var(--colour-neutral-alt); /* starting colour */
  color: inherit;
  left: 50%;
  transform: translateX(-50%);
  top: 20px;
  width: 550px;
  max-width:calc(100% - (2 * var(--modal-margin)));*/
  height: 95vh;
}