#file-content-history-select {
    border: 1.5px solid transparent;
    color: inherit;
    font: 1em monospace;
    flex-grow: 1;
    min-width: 0px;
    margin-inline: 6px;

    >button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
    }

    .opt-filename {
        overflow: hidden;
        text-overflow: ellipsis;

        &::before {
            color: inherit;
            content: "● "
                /* indicates not saved, saved indicator below */
        }
    }

    &::picker-icon {
        content: "➜"; /* U+0279C */
        rotate: 90deg;
        transition: 0.2s rotate;
    }

    &:open::picker-icon {
        rotate: -90deg;
    }

    option {
        display: flex;
        align-items: center;

        font: 1.1em monospace;
        padding: 4px;
        padding-left: 15px;
        margin: 10px;
        border: 2px solid transparent;
        border-radius: 40px;
        color: var(--colour-contr);
        background: var(--colour-neutral-alt);

        .opt-version,
        #rename-file-btn {
            margin-right: 4px;
            text-align: right;
        }

        &:hover {
            border: 2px solid var(--colour-contr);
            box-shadow: var(--hover-box-shadow);
        }

        &:checked {
            font-weight: bold;
            border: 2px solid var(--colour-contr);
            box-shadow: var(--hover-box-shadow);
        }

    }

    &:has(#rename-file-btn:hover) {
        background: var(--colour-contr);
        color: var(--colour-neutral-alt);

        &::picker-icon {
            rotate: -180deg;
        }
    }

}

#file-content-history-select:hover {
    box-shadow: var(--hover-box-shadow);
    border: 1.5px solid var(--colour-compl-contr);
}

#modal-content.saved .opt-filename::before {
    content: "○ ";
    /* indicates saved */
}


/* a visual alert if you are looking at old file content (ie 2nd or later box checked) */
#file-content-history-select:not(:has(option:first-of-type:checked)) {
    background-color: var(--colour-compl-alt-emph);
    color: var(--colour-contr);
    transition: 0.2s background-color, 0.2s color;
}

/* styling the picker box as a whole */
#file-content-history-select::picker(select) {
    border: none;
    background-color: var(--colour-compl-alt-emph);
    border-radius: 10px;
}

#rename-file-btn {
    cursor: pointer;
    font: 1em monospace;
    margin-block: 6px;
    padding-block: 2px;
    color: var(--colour-contr);
    background-color: var(--colour-neutral-alt);
    border: 1.5px solid var(--colour-compl-contr);
    border-radius: 20px;

    &:hover {
        box-shadow: var(--hover-box-shadow);
        border: 1.5px solid var(--colour-compl-contr);
    }
}