#file-content-footer {
    display: flex;
    flex-direction: row;
    border: 2px solid orange;
    position:absolute;
    bottom:0;
    left: 0;
    right: 0;
    height:var(--modal-footer-height);
}