#modal-unsaved-warning {
    margin: auto;
    padding: 24px 32px;
    border: 2px solid transparent;
    border-radius: 6px;
    background-color: var(--colour-neutral-alt);
    color: var(--colour-contr);
    text-align: center;
}

#modal-unsaved-warning p {
    margin: 0 0 20px;
}

#modal-unsaved-warning::backdrop {
    background: rgba(0, 0, 0, 0.65);
}

.unsaved-warning-buttons {
    display: flex;
    gap: 12px;
    justify-content: center;
}
