#modal-edit-toggle {
    position: absolute;
    bottom: var(--modal-footer-height);
    right: 0;
    transform: translateY(calc(100% + var(--modal-footer-height)));
    transition: transform 0.2s ease;
}

body:has(#render_toggle:checked) #modal-edit-toggle {
    transform: translateY(0);
}

/* footer height currently set to zero but can inflate an add content later! */
#file-content-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    position:absolute;
    bottom:0;
    left: 0;
    right: 0;
    height:var(--modal-footer-height);
    pointer-events:none; /* to allow click through to horizontal scroll bar if needed */
}

#file-content-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    position:absolute;
    top:0;
    left: 0;
    right: 0;
    height:var(--modal-header-height);
    padding-inline: 10px;
}
