#file-content-history-select {
    border: 1.5px solid transparent;
    color: inherit;
    font: inherit;
    flex: 1;
    min-width: 0px;
    margin-inline: 6px;
    font-size: 0.9em;

    &:hover {
        background-color: var(--colour-neutral-alt);
        box-shadow: var(--hover-box-shadow);
        border: 1.5px solid var(--colour-compl-contr);
    }

    button {
        display:flex;
        align-items: center;
        width:100%;
        white-space: nowrap;
        overflow: hidden;
    }

    .opt-filename {
      overflow: hidden;
      text-overflow: ellipsis;

      &::before{
        content:"● " /* indicates not saved, saved indicator below */
      }
    }

    &::picker-icon {
        content: "↺";
        rotate: 0deg;
        transition: 0.2s rotate;
    }

    &:open::picker-icon {
        rotate: -135deg;
    }

    option {
        font: 1.1em monospace;
        padding: 4px;
        padding-left: 15px;
        margin: 10px;
        border: 2px solid transparent;
        border-radius: 20px;
        color: var(--colour-contr);
        background: var(--colour-neutral-alt);

        &:hover {
            border: 2px solid var(--colour-contr);
            box-shadow: var(--hover-box-shadow);
        }

        &:checked {
            font-weight: bold;
            border: 2px solid var(--colour-contr);
            box-shadow: var(--hover-box-shadow);
        }

    }

}

#modal-content.saved .opt-filename::before {
    content:"○ "; /* indicates saved */
}


/* a visual alert if you are looking at old file content (ie 2nd or later box checked) */
#file-content-history-select:not(:has(option:first-of-type:checked)) {
    background-color: var(--colour-compl-alt-emph);
    color: DarkSlateGray;
    transition: 0.2s background-color, 0.2s color;
}

/* styling the picker box as a whole */
#file-content-history-select::picker(select) {
    border: none;
    background-color: var(--colour-compl-alt-emph);
    border-radius: 10px;
}
