#modal-unsaved-warning {
    margin: auto;
    padding: 24px 32px;
    border: 2px solid var(--colour-contr);
    border-radius: 6px;
    background-color: var(--colour-neutral-alt);
    color: var(--colour-contr);
    text-align: center;
}

#modal-unsaved-warning p {
    margin: 0 0 20px;
}

#modal-unsaved-warning::backdrop {
    background: rgba(0, 0, 0, 0.65);
}

.unsaved-warning-buttons {
    display: flex;
    gap: 12px;
    justify-content: center;
}

.unsaved-warning-buttons button {
    padding: 6px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.unsaved-warning-button-keep {
    background: var(--colour-compl);
    color: var(--colour-contr);
    border: 2px solid transparent;
    

    &:hover, &:focus-within {
        background-color: var(--colour-compl-emph-light);
        border: 2px solid var(--colour-compl-emph-contr);
        color: var(--colour-compl-emph-contr);
        box-shadow: 3px 3px 0px 0px var(--colour-compl-emph-contr);
    }
}

.unsaved-warning-button-discard {
    background-color: var(--colour-compl-alt-emph-light);
    color: var(--colour-compl-emph-contr);
    border: 2px solid transparent;

    &:hover, &:focus-within {
        background-color: var(--colour-compl-alt-emph);
        border: 2px solid var(--colour-contr-warning);
        color: var(--colour-compl-alt-emph-light);
        box-shadow: 3px 3px 0px 0px var(--colour-contr-warning);
    }
}