/* "from" state */
dialog::backdrop {
  background: transparent;
}
.dialog-view {
  view-transition-name: dialog-backdrop;
}
/* "to" state */
.dialog-view::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}
/* to target backdrop, not sure why can't target any other way... works on both fade in and out! */
::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: calc(2s / var(--file-content-transition-speed));
  animation-timing-function: ease-in-out;
}

/* prevent document body scroll when dialog open */
body:has(dialog[open]) {
  overflow: hidden;
}


/* preserve space for scroll bar on main page to avoid layout shift */
/* if screen bigger than X stable at all times */
  html {scrollbar-gutter: stable;}

@media (max-width: 600px) {
  /* to allow open dialog to take up fall screen space on small screens, does mean a layout shift when dialog closes so don't want to do on larger screens where screen real estate less critical */
  html:has(dialog[open]) {scrollbar-gutter: auto;}

  /* perhaps overkill - small screens will get modal all the way to the edge. Remove border radius so it also goes all the way to the corner... */
  html:has(dialog[open]) #moving-file-content-container {
    border-radius:0px;
  }
}