.list-view {
    ul > li {
        margin-block: 5px;
    }
}

.list-view > li {
        margin-bottom: 10px;
}

.list-file-open {
    --border-width: 2px;
    border: var(--border-width) solid transparent;
    padding: 1px 12px 1px 12px;
    border-radius: 4px;
    cursor:pointer;

    &:hover {
        border: var(--border-width) solid var(--colour-contr);
    }
}