.note-grid {
    --border-width: 2px;
    border: var(--border-width) solid transparent;
    border-radius: 4px;
    padding: 10px;
    overflow-x:hidden;
    cursor: default;

    &:hover {
        border: var(--border-width) solid var(--colour-contr);
    }
}