.list-table {
	display: grid;
	grid-template-columns: 350px 550px 250px 150px; /* these are placeholder values as they will get dynamically overwritten by js depending on columns rendered and column widths specified in store.js */
    gap: 10px;
    max-width: 100vw;
    overflow-x: auto;
}

.note-table {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
    --border-width: 2px;
    border: var(--border-width) solid transparent;
    border-radius: 4px;
    padding: 6px;
    overflow: hidden;
    height: 35px; /* deleting height line means rows expand vertically to fit content */
    cursor: default;

    &:hover {
        border: var(--border-width) solid var(--colour-contr);
    }
}

.note-table-header {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
    --border-width: 2px;
    border: var(--border-width) solid transparent;
    border-radius: 4px;
    padding: 6px;
    overflow: hidden;
    height: 35px;
    cursor: default;
}

.note-table-cell {
    overflow: hidden;
}