details.note-details {
		--note-padding-sides: 20px;
		--note-width: 70ch;
		--note-border-thickness: 2px;
		--note-border-radius: 6px;
		--summary-width: 400px;
		--summary-offset: 10px;
		break-inside: avoid; /* for use in column layout */
		margin-bottom: 10px;

		padding-left: var(--summary-offset);
		flex-basis: var(--summary-width); /* note that can't really transition width as flex box makes things jump around anyway */
		summary { /* background-color: var(--colour-neutral-alt);*/
			--color-mono-contr: hsl(from attr(data-color type(<color>)) 0 0 calc(round(100 - l, 100)));
			background-color: attr(data-color type(<color>), var(--colour-neutral-alt));
			color: var(--color-mono-contr);
			border-radius: var(--note-border-radius);
			padding: 10px;
			padding-left: 20px;
			margin-left: calc(var(--summary-offset) * -1); /* to line up text with summary elem */
			cursor:row-resize
		}
		&[open] {
			padding-left: 0; /* not sure why I need this... aligns notes when details open */
			min-width: calc(100% - var(--summary-width)); /* to force other details elements to a new line*/
			margin-inline: auto;
			summary {
				max-width: calc(var(--note-width) + var(--note-padding-sides) * 2 + var(--note-border-thickness) * 2); /* faffing around here due to border box sizing css above*/
				margin-inline: auto;
				border: var(--note-border-thickness) solid var(--colour-contr); /* could mess around with box shadows instead to prevent v small layout shift when borders applied. Bit tricky though */
				border-bottom: 0; /* want to draw a box round details contents element too*/
				border-bottom-right-radius: 0;
				border-bottom-left-radius: 0; */
				padding-inline: var(--note-padding-sides);
			}
		}

		&::details-content {
			transition: height 0.2s linear, content-visibility 0.2s ease allow-discrete; /* BUG animation jump at start and end, something to do with open / close padding or margin */
			height: 0px;
			overflow-y: clip;
			max-width: var(--note-width); /* constrain text line length */
			margin-inline: auto;
			padding: 0px var(--note-padding-sides) 0px var(--note-padding-sides);
		}
		&[open]::details-content {
			height: max-content;
			border: var(--note-border-thickness) solid var(--colour-contr);
			border-top: 0; /* want to draw a box round summary element too*/
			border-radius: var(--note-border-radius);
			border-top-right-radius: 0;
			border-top-left-radius: 0;
			padding-bottom: 10px;
		}
		summary + * {margin:0;padding:10px} /* stops the details content from floating away from the summary which means the border doesn't go all the way around! */

	}