.list-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); /* min width of cols is 350px and stretch to fill width of screen */
	gap: 10px;
}

.note-grid {
    --border-width: 2px;
    border: var(--border-width) solid transparent;
    border-radius: 4px;
    padding: 10px;
    overflow-x:hidden;
    cursor: default;

    &:hover {
        border: var(--border-width) solid var(--colour-contr);
    }
}

.note-grid-header {
    background-color: var(--colour-neutral-alt);
    --border-width: 2px;
    border: var(--border-width) solid transparent;
    border-radius: 4px;
    padding: 10px;
    overflow-x:hidden;
}
