.table-wrapper {
    max-width: 100vw;
}

.list-table {
	display: grid;
	grid-template-columns: var(--grid-columns); /* css property is created dynamically by js */
    gap: 0px;
    overflow-x: auto;
}

.note-table {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
    padding: 0px;
    overflow-x: hidden;
    height: 32px; /* deleting height line means rows expand vertically to fit content */
    cursor: default;
    transition: height 0.35s ease;

    &:hover {
        background-color: var(--colour-neutral-alt);
        color: var(--colour-contr);

        .show-content-tag {
            background-color: var(--colour-neutral);
            color: var(--colour-contr);
            border: var(--border-width) solid var(--colour-neutral);
        }
    }

    &:focus-within {
        height:auto;
    }
}

/* Also used in list view */
.show-content-tag {
    --border-width: 2px;
    border: var(--border-width) solid var(--colour-neutral-alt);
    padding: 1px 12px 1px 12px;
    border-radius: 4px;
    cursor:pointer;

    &:hover {
        border: var(--border-width) solid var(--colour-contr);
    }
}

.note-table-cell {
    overflow: hidden;
    border-top: 1px solid var(--colour-contr);
    border-right: 1px solid var(--colour-contr);
    padding: 6px;
}

/* TODO - make table header sticky at top */
.note-table-header {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
    padding: 0px;
    overflow: hidden;
    height: 35px;
    cursor: default;

}

.note-table-cell-header {
    overflow: hidden;
    border-right: 1px solid var(--colour-contr);
    border-bottom: 1px solid var(--colour-contr);
    padding: 6px;

    &:hover {
        background-color: var(--colour-neutral-alt);

        .sort-by-prop-trigger {
            visibility: visible;
            cursor: pointer;
        }
    }
}

.sort-by-prop-trigger {
    padding:6px;
    visibility: hidden;
}

