.list-details {
		column-width: 500px; /* decided to go with a multi column approach. Looks better, biggest problem is opening a summary note can cause reflow and note to move to end of previous column */
		column-gap: 10px;
		column-count: auto;
	/*	display: flex; /* don't need this stuff right now */
		align-items: flex-start;
		flex-direction: column;
		flex-wrap: wrap;
		gap: 10px;
	}
	/* #output > * {
		flex-grow: 1;
	} */

.list-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); /* min width of cols is 350px and stretch to fill width of screen */
	gap: 10px;
}
