.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 16px 8px;
}

.pagination-elem-style {
    min-width: 36px;
    height: 36px;
    padding: 0 8px;
    border-radius: 4px;
    border: 2px solid transparent;
    font: 1.1em monospace;
    display: inline-flex; /* for where no btn and need inner elems like spans to be centred */
    align-items: center;
    justify-content: center;  
}

.pagination-btn {
    background: var(--colour-neutral-alt);
    color: var(--colour-compl-contr);
    cursor: pointer;

    &:hover {
        border: 2px solid var(--colour-contr);
        box-shadow: var(--hover-box-shadow);
    }
}

.pagination-current {
    background: var(--colour-compl-contr);
    color: var(--colour-neutral-alt);
}

.pagination-ellipsis {
    color: var(--colour-compl-contr);
}
