#searchbox{
    background-color: var(--colour-neutral-alt);
    --colour-highlight: var(--colour-compl-emph);
    --radius: 10px;
    --offset: 4px;
    --offset-negative: calc( var(--offset) * -1 );
    text-shadow:
        var(--colour-highlight) var(--offset-negative) var(--offset-negative) var(--radius),
        var(--colour-highlight) var(--offset-negative) var(--offset) var(--radius),
        var(--colour-highlight) var(--offset) var(--offset-negative) var(--radius),
        var(--colour-highlight) var(--offset) var(--offset) var(--radius);
    color: var(--colour-contr);
	font:1.1em monospace;
    border: 1px solid var(--colour-contr);
    border-radius:4px;
    margin-inline: 10px;
    max-width: 400px;
    height: 24px;

    &::placeholder {
        color: color-mix(in srgb, var(--colour-contr) 60%, transparent);
        text-shadow: none;
    }
}

body:has(#and_filter:checked) #searchbox {
    --colour-highlight: var(--colour-compl-alt-emph);
}