/* this surrounds the whole switch to allow has focus to draw a box round it */
.label_group {
	margin-right:10px;
}

/* The switch - the box around the slider */
	.switch {
	  position: relative;
	  display: inline-block;
	  width: 30px;
	  height: 17px;
	}
	/* Hide default HTML checkbox */
	.switch input {
	  opacity: 0;
	  width: 0;
	  height: 0;
	}
	/* The slider */
	.slider {
	  position: absolute;
	  cursor: pointer;
	  inset: 0;
	  background-color: var(--colour-compl-emph);
	  transition: .4s;
	  border-radius: 17px;
	}

	.slider:before {
	  position: absolute;
	  content: "";
	  height: 13px;
	  width: 13px;
	  left: 2px;
	  bottom: 2px;
	  background-color: var(--colour-neutral);
	  transition: .1s;
	  border-radius: 50%;
	}
	.switch:hover .slider:before {
	background-color: var(--colour-compl);
	}
	input:checked + .slider {background-color: var(--colour-compl-alt-emph);}
	.label_group:has(input:focus-visible) {
      outline: 2px solid var(--colour-contr);
	  border-radius: 6px;
	}
	input:checked + .slider:before {transform: translateX(13px);}