.tag {color:var(--colour-compl-contr);
    background-color: var(--colour-compl);
    padding: 1px 4px 1px 4px;
    border-radius: 4px;}
.tag:hover {
    background-color: var(--colour-compl-emph-light);
    color: var(--colour-compl-emph-contr);
    cursor:pointer;}
.tagselected {
    background-color: var(--colour-compl-emph);
    color: var(--colour-compl-emph-contr);}
.tag_cat {
    color: var(--colour-contr);
    background-color: var(--colour-compl);
    padding: 1px 4px 1px 4px;
    border-radius: 4px;
    margin-right: 4px;}

/* STYLE CSS (for AND filter) */
body:has(#and_filter:checked) {/* if AND filter applied, colours here override OR colours above */
    .tag:hover {
        background-color: var(--colour-compl-alt-emph-light);
        color: var(--colour-compl-alt-emph-contr);}
    .tagselected {
        background-color: var(--colour-compl-alt-emph);
        color: var(--colour-compl-alt-emph-contr)}
}