.border-top-straight {
	border-top: 2px solid var(--colour-neutral-alt);
}
.border-bottom-straight {
	border-bottom: 2px solid var(--colour-neutral-alt);
}

.flex-row {
	display: flex;
	 align-items:end;
	/*padding: 4px;*/
}

.flex-column {
	display: flex;
	flex-direction: column;
	align-items: left;
}

.flex-wrap {
	flex-wrap: wrap;
	gap:5px;
}

.flexgrow {flex-grow: 10}
.flexgrow-weak {flex-grow: 1}

.justify-content-center {
	justify-content: center;
}

.stick-top {
	position:sticky;
	top: 0px;
	background-color: var(--colour-neutral);
	margin-top: 10px;
	padding-block: 10px;
	z-index:1;
}


.opacity-0 {
	opacity:0;
	/* visibility: hidden */ /* <-- more performant? */
}

.margin-bottom {
	margin-bottom: 20px;
}
.padding-top {
	padding-top: 10px;
}

.test-outline > * {
border: 1px solid red;
}