.border-rounded {
	border: 1px solid var(--colour-contr);
	border-radius: 6px;
	padding: 10px;
}

.flex-row {
	display: flex;
	align-items:end;
	/*padding: 4px;*/
}

.flex-column {
	display: flex;
	flex-direction: column;
	align-items: left;
}

.flex-wrap {
	flex-wrap: wrap;
	gap:5px;
}

.flexgrow {flex-grow: 10}
.flexgrow-weak {flex-grow: 1}



.stick-top {
	position:sticky;
	top: 0px;
	background-color: var(--colour-neutral);
	padding-top: 10px;
	padding-bottom: 10px;
}


.opacity-0 {
	opacity:0;
	/* visibility: hidden */ /* <-- more performant? */
}

.test-outline > * {
border: 1px solid red;
}