.border-rounded {
	border: 1px solid var(--colour-contr);
	border-radius: 6px;
	padding: 10px;
}

.flex-row {
	display: flex;
	align-items: center;
	/*padding: 4px;*/
}

.flex-wrap {
	flex-wrap: wrap;
	gap:5px;
}

.flexgrow {flex-grow: 1}

.flex-row > .ANDOR_label {
	padding-inline: 4px;
}

.stick-top {
	position:sticky;
	top: 0px;
	background-color: var(--colour-neutral);
	padding-top: 10px;
	padding-bottom: 10px;
}


.opacity-0 {
	opacity:0;
	/* visibility: hidden */ /* <-- more performant? */
}
