/* The class is added before startViewTransition
   and removed in the finished callback in a-render-all-files.js. Keeps the shapes morphing smoothly */
html.file-list-transitioning::view-transition-old(root),
html.file-list-transitioning::view-transition-new(root) {
  height: 100%;
  width: 100%;
}

/* Control the position/size animation for all named card groups during a re-render. */
html.file-list-transitioning::view-transition-group(*) {
  animation-duration: 1000ms;
  animation-timing-function: linear(0, 0.03 1.1%, 0.124 2.4%, 0.889 9.8%, 1.031 12.4%, 1.094 15.2%, 1.101 16.6%, 1.096 18.1%, 1.014 26.1%, 0.991 31.7%, 1.001 48.1%, 1);
  object-fit:contain;
  overflow:hidden;
}

body:has(#file-transitions-enabled:not(:checked)) html.file-list-transitioning::view-transition-group(*),
body:has(#file-transitions-enabled:not(:checked)) html.file-list-transitioning::view-transition-old(root),
body:has(#file-transitions-enabled:not(:checked)) html.file-list-transitioning::view-transition-new(root) {
  animation-duration: 0s;
}
